
.timer-wrapper{
    border: none;
    background: $bg-dark;
    color: $primary;
    border-radius: 4px;
    font-weight: 700;
    max-width: 300px;
    padding: 23px 20px;
    margin: 15px 0;
    font-size: 22px;
    line-height: 24px;
    @include make-flex;
    @include justify-content(center);
    @include align-items(center);
}